.footer{
    padding: 5.8rem 0 4.2rem;
    margin-top: auto;
    background: #201A23;
    color: #FFFFFE;

    @include bp(sm){
        padding: 3rem 0;
    }

    &__content{
        display: grid;
        grid-template-columns: 54% 44%;
        grid-gap: 0 1.8%;

        @include bp(md){
            grid-template-columns: 100%;
        }
    }

    &__logo{
        margin: 0 0.4rem 2.9rem;
        display: inline-flex;

        @include bp(sm){
            width: 20rem;
            margin: 0 auto 2rem;
            display: flex;
        }
    }

    &__row{
        display: grid;
        grid-template-columns: 37.6% 34.9% auto;
        grid-gap: 2rem;
        margin-bottom: 3.8rem;
        font-family: 'Alegreya Sans', sans-serif;

        @include bp(sm){
            grid-template-columns: 100%;
            text-align: center;
        }
    }

    &__logos{
        margin-bottom: 1.4rem;
        gap: 1.5rem 1rem;

        &_md{
            gap: 1.5rem 2.3rem;

            @include bp(xxxl-up){
                margin-right: -6rem;
            }
        }
    }

    &__title{
        margin-bottom: 1.6rem;
    }

    &-nav{
        &__item{
            margin-bottom: 0.35rem;
        }

        &__link{
            color: #fff;
        }
    }

    &__text{
        color: #F3F8F2;

        @include bp(md){
            padding-top: 2rem;
        }

        p{
            margin-bottom: 1.65rem;
        }

        a{
            display: inline-flex;
            margin-right: 1.6rem;
        }
    }
}

.logo-item{
    @include bp(sm){
        max-width: 50%;
    }
}

.up-link{
    position: fixed;
    right: 8rem;
    bottom: 2rem;
    width: 6rem;
    height: 6rem;
    background: $primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));

    @include bp(hv){
        &:hover{
            background: darken($color: $primary, $amount: 5);
        }
    }

    @include bp(md){
        right: 1rem;
        bottom: 1rem;
    }

    @include bp(sm){
        width: 4rem;
        height: 4rem;
    }
}